services:
  dnsfilter:
    image: python:bookworm
    volumes:
      - ./app:/usr/src/app  
      - /etc/bind/zones:/usr/src/zones
    working_dir: /usr/src/app  
    entrypoint: /bin/bash -c "pip install boto3; tail -f /dev/null"  
    restart: unless-stopped
    environment:
      TZ: Europe/Paris
      AWS_ACCESS_KEY_ID: "ENTER-ACCESS-KEY-ID"
      AWS_SECRET_ACCESS_KEY: "ENTER-ACCESS-KEY"
      S3_BUCKET_NAME: "enter-buckname"
      S3_OBJECT_KEY_PATH: "path/to/s3/object/key"
      S3_OBJECT_FILE_NAME: "domains_to_block_tests.txt"
      AWS_REGION: "eu-west-1"
